<!--================Blog Area =================-->
<section class="blog_area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="blog_left_sidebar">
                    <% if(articles.length > 0) { %>
                        <% articles.forEach(article=> { %>
                            <article class="blog_item">
                                <div class="blog_item_img relative">
                                    <% if (userId === article.userId){ %>
                                    <div class="absolute w-[100%] flex justify-end px-3">
                                        <button data-modal-target="crud-modal<%= article.id %>" data-modal-toggle="crud-modal<%= article.id %>"
                                                class="rounded-full w-[35px] h-[35px] bg-gray-100 hover:bg-gray-400 mr-2">
                                            <i class="fas fa-edit flex items-center justify-center fa-x w-[100%] h-[100%] rounded-full text-gray-500 hover:text-gray-100"></i>
                                        </button>
                                        
                                        <button data-delete-button-id="<%= article.id %>" 
                                        class="delete-article-button rounded-full w-[35px] h-[35px] bg-gray-100 hover:bg-gray-400 mr-2">
                                                <i class="fa fa-trash flex items-center justify-center fa-x w-[100%] h-[100%] rounded-full text-gray-500 hover:text-gray-100"></i>
                                        </button>
                                    </div>
                                    <% } %>
                                    <% if (article.image) { %>
                                        <img src="<%= article.image %>" alt="Article Image" class="card-img rounded">
                                    <% } %>
                                    <a href="#" class="blog_item_date">
                                        <h3><%= article.day %></h3>
                                        <p><%= article.month %></p>
                                    </a>
                                </div>
                                <!-- Main modal -->
                                <div id="crud-modal<%= article.id %>" tabindex="-1" aria-hidden="true"
                                     class="hidden fixed inset-0 z-50 overflow-y-auto flex items-center justify-center w-full h-full bg-black bg-opacity-50">
                                    <div class="relative w-full max-w-lg mx-auto bg-white rounded-lg shadow-lg transition-transform transform scale-95 ease-out duration-300">
                                        <!-- Modal content -->
                                        <div class="relative p-6">
                                            <!-- Modal header -->
                                            <div class="flex items-center justify-between pb-4 mb-4 border-b border-gray-200">
                                                <h3 class="text-xl font-semibold text-gray-800">
                                                    Edit Article
                                                </h3>
                                                <button type="button"
                                                        class="text-gray-500 hover:text-gray-700 focus:outline-none"
                                                        data-modal-toggle="crud-modal<%= article.id %>">
                                                    <svg class="w-6 h-6" aria-hidden="true"
                                                         xmlns="http://www.w3.org/2000/svg" fill="none"
                                                         viewBox="0 0 24 24" stroke="currentColor">
                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                              stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
                                                    </svg>
                                                    <span class="sr-only">Close modal</span>
                                                </button>
                                            </div>
                                            <!-- Modal body -->
                                            <form class="space-y-6" action="/update/article" method="POST" enctype="multipart/form-data">
                                                <input type="hidden" name="id" value="<%= article.id %>">
                                                <div>
                                                    <label for="title" class="block text-sm font-medium text-gray-700">Title</label>
                                                    <input type="text" name="title" id="title"
                                                           class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-lg focus:border-blue-500 focus:ring-blue-200 focus:ring-2 shadow-sm transition duration-200 ease-in-out"
                                                           placeholder="Type article title" value="<%= article.title %>">
                                                </div>
                                                <div class="flex items-center space-x-3 p-2 rounded-lg">
                                                    <input type="hidden" name="img-checkbox" value="false">
                                                    <label class="text-gray-700 font-medium">Change image?</label>
                                                    <input type="checkbox" id="img-checkbox" data-input-id="img-input-<%= article.id %>" name="img-checkbox" class="img-checkbox h-5 w-5 text-blue-600 bg-gray-200 border-gray-300 rounded focus:ring-blue-500 focus:ring-2" value="true">
                                                </div>
                                                <div id="img-input-<%= article.id %>" class="hidden opacity-0 transition-opacity duration-300 ease-in-out">
                                                    <div class="w-[100%]">
                                                        <label for="image"
                                                               class="block text-sm font-medium text-gray-700">Image</label>
                                                        <input type="file" accept="image/*" id="imageInput" name="articleImage" />
                                                        <div class="image-preview w-[100%]">
                                                            <img id="imageOutPut" class="w-[25%]" />
                                                            <p id="imageName"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div>
                                                    <label for="description"
                                                           class="block text-sm font-medium text-gray-700">Article
                                                        Description</label>
                                                    <textarea id="description" rows="4"
                                                              class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-lg focus:border-blue-500 focus:ring-blue-200 focus:ring-2 shadow-sm transition duration-200 ease-in-out"
                                                              placeholder="Write product description here" name="content"><%= article.content %></textarea>
                                                </div>
                                                <button type="submit"
                                                        class="w-full px-5 py-2.5 text-white bg-blue-700 hover:bg-blue-800 rounded-lg font-medium focus:ring-4 focus:outline-none focus:ring-blue-300">
                                                    <i class="fas fa-edit"></i>
                                                    Edit the Article
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <div class="blog_details">
                                    <a class="d-inline-block" href="/details/<%= article.id %>">
                                        <h2>
                                            <%= article.title %>
                                        </h2>
                                    </a>
                                    <p>
                                        <%= article.content %>.
                                    </p>
                                    <ul class="blog-info-link">
                                        <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
                                        <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                                    </ul>
                                </div>
                            </article>
                        <% }) %>
                    <% } %>
                    <nav class="blog-pagination justify-content-center d-flex">
                        <ul class="pagination">
                            <li class="page-item">
                                <a href="#" class="page-link" aria-label="Previous">
                                    <i class="ti-angle-left"></i>
                                </a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link">1</a>
                            </li>
                            <li class="page-item active">
                                <a href="#" class="page-link">2</a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link" aria-label="Next">
                                    <i class="ti-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget search_widget">
                        <form action="#">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder='Search Keyword'
                                           onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Keyword'">
                                    <div class="input-group-append">
                                        <button class="btns" type="button"><i class="ti-search"></i></button>
                                    </div>
                                </div>
                            </div>
                            <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                    type="submit">Search
                            </button>
                        </form>
                    </aside>

                    <aside class="single_sidebar_widget post_category_widget">
                        <h4 class="widget_title">Category</h4>
                        <ul class="list cat-list">
                            <li>
                                <a href="#" class="d-flex">
                                    <p>Resaurant food</p>
                                    <p>(37)</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex">
                                    <p>Travel news</p>
                                    <p>(10)</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex">
                                    <p>Modern technology</p>
                                    <p>(03)</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex">
                                    <p>Product</p>
                                    <p>(11)</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex">
                                    <p>Inspiration</p>
                                    <p>21</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex">
                                    <p>Health Care (21)</p>
                                    <p>09</p>
                                </a>
                            </li>
                        </ul>
                    </aside>

                    <aside class="single_sidebar_widget popular_post_widget">
                        <h3 class="widget_title">Recent Post</h3>
                        <div class="media post_item">
                            <img src="assets/img/post/post_1.png" alt="post">
                            <div class="media-body">
                                <a href="single-blog.html">
                                    <h3>From life was you fish...</h3>
                                </a>
                                <p>January 12, 2019</p>
                            </div>
                        </div>
                        <div class="media post_item">
                            <img src="assets/img/post/post_2.png" alt="post">
                            <div class="media-body">
                                <a href="single-blog.html">
                                    <h3>The Amazing Hubble</h3>
                                </a>
                                <p>02 Hours ago</p>
                            </div>
                        </div>
                        <div class="media post_item">
                            <img src="assets/img/post/post_3.png" alt="post">
                            <div class="media-body">
                                <a href="single-blog.html">
                                    <h3>Astronomy Or Astrology</h3>
                                </a>
                                <p>03 Hours ago</p>
                            </div>
                        </div>
                        <div class="media post_item">
                            <img src="assets/img/post/post_4.png" alt="post">
                            <div class="media-body">
                                <a href="single-blog.html">
                                    <h3>Asteroids telescope</h3>
                                </a>
                                <p>01 Hours ago</p>
                            </div>
                        </div>
                    </aside>
                    <aside class="single_sidebar_widget tag_cloud_widget">
                        <h4 class="widget_title">Tag Clouds</h4>
                        <ul class="list">
                            <li>
                                <a href="#">project</a>
                            </li>
                            <li>
                                <a href="#">love</a>
                            </li>
                            <li>
                                <a href="#">technology</a>
                            </li>
                            <li>
                                <a href="#">travel</a>
                            </li>
                            <li>
                                <a href="#">restaurant</a>
                            </li>
                            <li>
                                <a href="#">life style</a>
                            </li>
                            <li>
                                <a href="#">design</a>
                            </li>
                            <li>
                                <a href="#">illustration</a>
                            </li>
                        </ul>
                    </aside>


                    <aside class="single_sidebar_widget instagram_feeds">
                        <h4 class="widget_title">Instagram Feeds</h4>
                        <ul class="instagram_row flex-wrap">
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="assets/img/post/post_5.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="assets/img/post/post_6.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="assets/img/post/post_7.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="assets/img/post/post_8.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="assets/img/post/post_9.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="assets/img/post/post_10.png" alt="">
                                </a>
                            </li>
                        </ul>
                    </aside>


                    <aside class="single_sidebar_widget newsletter_widget">
                        <h4 class="widget_title">Newsletter</h4>

                        <form action="#">
                            <div class="form-group">
                                <input type="email" class="form-control" onfocus="this.placeholder = ''"
                                       onblur="this.placeholder = 'Enter email'" placeholder='Enter email' required>
                            </div>
                            <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                    type="submit">Subscribe
                            </button>
                        </form>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<% if (errors !== null) { %>

    <script>
        setTimeout(function () {
            Swal.fire({
                title: 'Error!',
                text: '<%= errors %>',
                icon: 'error',
                confirmButtonText: 'Try Again'
            });
        }, 1000);  // Delay of 1 second before showing alert
    </script>
    <% } %>


<script>
    let imgCheckBox = document.querySelectorAll(".img-checkbox");
    let imageInput = document.getElementById("imageInput");
    let imageOutput = document.getElementById("imageOutPut");
    let imageName = document.getElementById("imageName");
    let deleteArticleButton = document.querySelectorAll('.delete-article-button');
    const urlParams = new URLSearchParams(window.location.search);
    const createdStatus = urlParams.get('created');

    if (createdStatus === 'success') {
        setTimeout(
            Swal.fire({
                        title: 'Article Created!',
                        text: 'Your article has been successfully created.',
                        icon: 'success',
                        confirmButtonText: 'OK'
                }).then((result) => {
                        if (result.isConfirmed) {
                            const url = new URL(window.location.href);
                            url.searchParams.delete('created');
                            history.pushState({}, document.title, url.href);
                        }
                })
        ,
        1000
        )
    }

    for (let i = 0; i < imgCheckBox.length; i++){
        imgCheckBox[i].addEventListener('change', function (){
           let imgInput = this.dataset.inputId;
           let checkboxStatus = this.checked;
            displayImgInput(imgInput, checkboxStatus);
        });
    }

    function displayImgInput(imgInputContainerId, checkboxStatus){
        let imgContainer = document.getElementById(imgInputContainerId);
        if (checkboxStatus){
            imgContainer.classList.remove('hidden');    // Make it visible
            setTimeout(() => {
                imgContainer.classList.remove('opacity-0');
            }, 200);
        }else{
            imgContainer.classList.add('opacity-0');    // Fade out
            setTimeout(() => {
                imgContainer.classList.add('hidden');
            }, 300);
        }
    }

    imageInput.onchange = (ev) => {
        imageOutput.alt = "preview";
        imageOutput.src = URL.createObjectURL(ev.target.files[0]);
        imageName.innerHTML = `<b> ${ev.target.files[0].name} </b>`
        imageOutput.onload = () => {
            URL.revokeObjectURL(imageOutput.src);
        }
    }

    deleteArticleButton.forEach(button => {
        button.addEventListener('click', function () {
            const articleId = button.dataset.deleteButtonId;

            Swal.fire({
                title: 'Info!',
                text: 'Delete' + articleId,
                icon: 'info',
                confirmButtonText: 'Delete',
                showCancelButton: true,
                confirmButtonColor: "red"
            }).then(async (result)=>{
                if(result.isConfirmed){
                    try{
                        const response = await fetch("/delete/article", {
                            method: 'DELETE',
                            body: JSON.stringify({ articleId }),
                            headers: {
                                "Content-type": "application/json"
                            }
                        });
                        const result = await response.json();

                        if(result.success){
                            Swal.fire('Success !', result.message, "success").then(() => {
                                window.location.reload();
                            })
                        }else{
                            Swal.fire('Error !', result.message, "error");
                        }
                    }catch(error){
                        Swal.fire(
                            "Erreur !",
                            "Erreur lors de la suppression du commentaire",
                            "error"
                        );
                    }
                }
            });
        })
    })

</script>
